.cart-menu {
  position: relative;
  padding: 70px 15px;
  margin-left: auto;
  width: 85%;
  height: 100%;
  background-color: var(--white-cl);
  transform: translateX(0);
  transition: all 250ms linear 250ms;
  overflow-y: scroll;

  &.is-hidden {
    transform: translateX(100%);
  }

  .cart-amount {
    margin-bottom: 30px;
  }
}

.cart-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--design-line-cl);
}

.cart-title {
  font-family: var(--second-title-font);
  font-size: 21px;
  color: var(--accent-cl);
}
