:root {
  --main-cl: #584d5d;
  --accent-cl: #fe7960;
  --white-cl: #ffffff;
  --black-cl: #3c3c3c;
  --link-cl: #ffb155;
  --active-link-cl: #e98a1b;
  --main-title-font: "Istok Web", sans-serif;
  --second-title-font: "Montserrat", sans-serif;
  --transition-settings: all 250ms linear;
  --box-shadow-shared: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  --border-radius-shared: 6px;
}
