:root {
  --main-cl: #584d5d;
  --accent-cl: #fe7960;
  --white-cl: #ffffff;
  --black-cl: #3b3b3b;
  --link-cl: #ffb155;
  --active-link-cl: #e98a1b;
  --disabled-link-cl: #ffcc80;
  --success-cl: #4caf50;
  --error-cl: #f44336;
  --box-cl: #fff8e1;
  --design-line-cl: #e0e0e0;
  --delete-btn-cl: #8f8a92;
  --main-title-font: 'Istok Web', sans-serif;
  --second-title-font: 'Montserrat', sans-serif;
  --transition-settings: all 250ms linear;
  --box-shadow-shared: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  --border-radius-shared: 6px;
}
