.cart-product-list {
  margin-bottom: 30px;

  .item {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--design-line-cl);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.cart-order-btn {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  color: var(--white-cl);
  background-color: var(--link-cl);
  border-radius: var(--border-radius-shared);

  &:active {
    background-color: var(--active-link-cl);
  }
}
