.slider-next-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  color: var(--main-cl);
  background-color: var(--white-cl);
  border: none;
  cursor: pointer;
  z-index: 5;
}
