.header {
  padding-top: 25px;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo-header {
    position: relative;
    bottom: 15px;
  }
}
