.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .menu {
    width: 28px;
    height: 28px;
  }
}
